<html>
<head>
    <title>PDF2Table Converter</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-15252393-60"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-15252393-60');
    </script>
</head>
<body>
    <form action="{{ url_for('table')}}">
    {{ form.pdf() }} {{ form.get_table() }}
    </form>
</body>
</html>
